<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog Posts</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

 <!-- Bootstrap CSS v5.2.1 -->
 <link
 href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
 rel="stylesheet"
 integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
 crossorigin="anonymous"
/>

<!-- Font Awesome  -->
<link
 rel="stylesheet"
 href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
 integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
 crossorigin="anonymous"
 referrerpolicy="no-referrer"
/>

  <!-- External CSS -->
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="container">
  <h1 class="text-center text-uppercase text-primary">Blog Page</h1>
  <p><%= csrfToken %></p>

  <!-- Blog Form -->
  <form action="http://localhost:3000/blog/create" method="POST" id="blog-form">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <!-- Blog Header -->
    <div class="form-group mb-3">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" class="form-control" placeholder="Blog Title" minlength="5"  required />
      <small class="form-text text-muted">Title must be at least 5 characters long.</small>

    </div>

    <!-- Blog Content -->
    <div class="form-group mb-3">
      <label for="content">Content</label>
      <textarea id="content" name="content" class="form-control" placeholder="Blog Content" rows="5" required></textarea>
    </div>
    <small id="char-count" class="text-success">Remaining Characters: 2000</small>

    <!-- Blog Author -->
    <div class="form-group mb-3">
      <label for="author">Author</label>
      <input type="text" id="author" name="author" class="form-control" placeholder="Blog Author" required />
    </div>

    <!-- Blog Tags -->
    <div class="form-group mb-3">
      <label for="tags">Tags</label>
      <input type="text" id="tags" name="tags" class="form-control" placeholder="Blog Tags" required />
    </div>

    <!-- Blog Buttons -->
    <div class="form-group mb-3">
      <input type="reset" value="Clear" class="btn btn-danger" />
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <hr />
  <h2 class="text-primary">Blog Posts</h2>
  <table id="blog-table" class="table table-hover table-striped">
    <thead>
      <tr>
        <th class="text-uppercase">ID</th>
        <th class="text-uppercase">Title</th>
        <th class="text-uppercase">Content</th>
        <th class="text-uppercase">Author</th>
        <th class="text-uppercase">Tags</th>
        <th class="text-uppercase">Views</th>
        <th class="text-uppercase">Status</th>
        <th class="text-uppercase">Created Date</th>
        <th class="text-uppercase">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach(post => { %>
        <tr  data-id="<%= post._id %>">
          <td><%= post._id %></td>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= post.author %></td>
          <td><%= post.tags %></td>
          <td><%= post.views %></td>
          <td><%= post.status %></td>
          <td><%= new Date(post.createdAt).toLocaleString() %></td>
          <td>
            <button class="btn btn-primary edit-btn" data-id="<%= post._id %>"><i class="fa-solid fa-wrench"></i></button>
            <button class="btn btn-danger delete-btn" data-id="<%= post._id %>"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- External JS -->
  <script src="/js/blog.js"></script>
</body>
</html>
